#display {
    width: 640px;
    height: 640px;
    margin: 50px;
    border: 5px solid black;
}

.pixel {
    background-color: whitesmoke;
    float:left;
}

#changed {
    background-color: black;
}
